<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                    style="font-size: 1.4rem;">
                La médiation, c'est quoi ?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p><strong>La médiation familiale s’adresse aux familles</strong> (au sens large) concernées par un
                    conflit qu’elles n’arrivent pas à résoudre par elles-mêmes. La présence d’un médiateur familial peut
                    s’avérer nécessaire. <br/>
                    La médiation s’exerce sur la base de 2 principes : la <strong>proximité</strong>, afin d’écouter les
                    parties, et la
                    <strong>responsabilisation</strong> de celles-ci dans la résolution de leur litige.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo" style="font-size: 1.4rem;">
                Pourquoi la médiation ?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <p>
                    La médiation permet <strong>le maintien des relations entre les parties</strong>. Elle redonne les
                    clés d’un <strong>dialogue
                        productif</strong> entre les médiés et permet de régler les conflits à long terme. Elle
                    personnalise la
                    solution retenue. En tant que <strong>processus alternatif</strong>, la médiation permet de
                    maîtriser les délais.
                    Elle garantit la confidentialité des échanges.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseThree"
                    style="font-size: 1.4rem;">
                Comment ça se passe ?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <p>
                    Le processus de médiation se déroule sur une période allant, en général, de quelques semaines à six
                    mois, au rythme d'un entretien tous les quinze jours / trois semaines. Chaque séance dure environ
                    1H30. Le nombre de séances est variable selon la situation et les sujets à aborder.

                </p>
            </div>
        </div>
    </div>
</div>