<div class="container w-50 mb-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary d-flex m-auto">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
