{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h2 class="text-center border-bottom border-primary">Nouvel article</h2>

    {{ include('article/_form.html.twig') }}
{% endblock %}
